html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(240, 240, 240);
  color: rgb(37, 37, 37);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.links a {
  text-decoration: none;
  display: block;
  font-size: 3rem;
  text-align: center;
  color: rgb(37, 37, 37);
}

@media (max-width: 1000px) { 
  .name {
    font-size: 6rem;
    padding-bottom: 3rem;
  }

  .links a {
    font-size: 5rem;
  }
}

